<table style="text-align: left;">
	<tbody>
		<tr>
			<th> </th>
			<th> Developer </th>
			<th> Designer </th>
			<th> Author </th>
			<th> Manager </th>
			<th> Tester </th>
		</tr>
		<tr>
   <th>Basic</th>
   <td colspan="5">
    <p><a href="/WAI/curricula/introduction-to-web-accessibility/">Introduction to Web Accessibility</a></p>
			 <ul>
		    <li><a href="/WAI/curricula/introduction-to-web-accessibility/what-is-web-accessibility/">Module 1: What is Web Accessibility</a></li>
		    <li><a href="/WAI/curricula/introduction-to-web-accessibility/people-and-digital-technology/">Module 2: People and Digital Technology</a></li>
		    <li><a href="/WAI/curricula/introduction-to-web-accessibility/business-case-and-benefits/">Module 3: Business Case and Benefits</a></li>
	  	  <li><a href="/WAI/curricula/introduction-to-web-accessibility/principles-standards-and-checks/">Module 4: Principles, Standards, and Checks</a></li>
  		  <li><a href="/WAI/curricula/introduction-to-web-accessibility/getting-started-with-accessibility/">Module 5: Getting Started with Accessibility</a></li>
		  </ul>
		</td></tr>
		<tr>
			<th> Intermediate</th>
			<td>
				<ul>
					<li> Structure and Semantics</li>
					<li> Navigation and Menus</li>
					<li> Forms and Input Elements</li>
					<li> Widgets and Interaction</li>
					<li> Testing Your Content</li>
				</ul>
			</td>
			<td>
				<ul>
					<li> Use of Color</li>
					<li> Typography</li>
					<li> Navigation and Orientation</li>
					<li> Instructions and Feedback</li>
					<li> Widgets and Interaction</li>
					<li> Testing Your Content</li>
				</ul>
			</td>
			<td>
				<ul>
					<li> Headings and Structure</li>
					<li> Text Alternatives for Images</li>
					<li> Alternatives for Media</li>
					<li> Office Accessibility (???)</li>
					<li> Tables and Data Representation</li>
					<li> Testing Your Content</li>
				</ul>
			</td>
			<td rowspan="2">
				<ul>
					<li> Accessibility Quick Check</li>
					<li> Business Opportunities</li>
					<li> Capacity and Capability</li>
					<li> Tools and Processes</li>
					<li> Policies and Procurement</li>
				</ul>
			</td>
			<td rowspan="2">
				<ul>
					<li> Understanding Conformance</li>
					<li> Accessibility Testing Tools</li>
					<li> Using Assistive Technologies</li>
					<li> Prioritizing Issues and Repair</li>
					<li> Maintaining Accessibility</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th> Advanced</th>
			<td>
				<ul>
					<li> Mobile Applications</li>
					<li> Transactions and Timing</li>
					<li> Games Accessibility (???)</li>
					<li> Immersive Environments (???)</li>
					<li> Testing Your Content</li>
				</ul>
			</td>
			<td>
				<ul>
					<li> Responsive Accessibility</li>
					<li> Pop-Ups and Dialogs</li>
					<li> Multi-Page Processes</li>
					<li> @@@</li>
					<li> Testing Your Content</li>
				</ul>
			</td>
			<td>
					<ul>
						<li> PDF Accessibility (???)</li>
					<li> SVG Accessibility</li>
					<li> MathML Accessibility</li>
					<li> Testing Your Content</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
