<ul>
  <li><a href="/wai-curricula/curricula/introduction-to-web-accessibility/what-is-web-accessibility/">Unit 1: What is Web Accessibility</a> — Introduces stories of people with disabilities, provides a definition and scope of web accessibility, and introduces its interrelations with other disciplines.
    <ul>
      <li>Topic: Stories of People with Disabilities.</li>
      <li>Topic: Scope of Web Accessibility.</li>
    </ul>
  </li>
  <li><a href="/wai-curricula/curricula/introduction-to-web-accessibility/people-and-digital-technology/">Unit 2: People and Access Technology</a> — Introduces some accessibility features and barriers, presents some adaptive strategies and assistive tools, and introduces the components of web accessibility.
    <ul>
      <li>Topic: Diverse Abilities, Tools, and Strategies.</li>
      <li>Topic: Components of Web Accessibility.</li>
    </ul>
  </li>
  <li><a href="/wai-curricula/curricula/introduction-to-web-accessibility/business-case-and-benefits/">Unit 3: Business Case and Benefits</a> — Introduces the business case for web accessibility and presents some benefits, such as enhancing your brand, increasing market reach, driving innovation, and minimizing legal risk.
    <ul>
      <li>Topic: Accessibility as a Driver for Innovation.</li>
      <li>Topic: Broader Benefits of Accessibility.</li>
      <li>Topic: Minimizing Legal Risk.</li>
    </ul>
  </li>
  <li><a href="/wai-curricula/curricula/introduction-to-web-accessibility/principles-standards-and-checks/">Unit 4: Principles, Standards, and Checks</a> — Introduces the principles of web accessibility, as well as the international W3C Accessibility standards, and how these are developed. Provides hands-on experience checking how web pages have implemented the standards or not.
    <ul>
      <li>Topic: Principles of Web Accessibility.</li>
      <li>Topic: W3C Accessibility Standards.</li>
      <li>Topic: Hands-on Experience of Standards.</li>
    </ul>
  </li>
  <li><a href="/wai-curricula/curricula/introduction-to-web-accessibility/getting-started-with-accessibility/">Unit 5: Getting Started with Accessibility</a> — Provides an overview on  organizational planning and managing considerations to ensure accessibility as part of the process, and on different accessibility roles and responsibilities involved throughout the design and development process.
    <ul>
      <li>Topic: Planning and Managing Web Accessibility.</li>
      <li>Topic: Developing Policies and Statements.</li>
      <li>Topic: Roles and Responsibilities.</li>
      <li>Topic: Accessibility in an Existing Project.</li>
    </ul>
  </li>
</ul>